body
    background-color: #dae7e8

/* 设置滚动条的样式 */
::-webkit-scrollbar 
    width: 12px
    height: 12px
    background-color: #eaecef

/* 滚动槽 */
::-webkit-scrollbar-track 
    border-radius:10px

/* 滚动条滑块 */
::-webkit-scrollbar-thumb 
    background:#8aabad    

::selection
    background:#ffca28
    color:white

​​​​​​​::-moz-selection
    background:#ffca28
    color:white
