/*  格式化   */ 
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td ,textarea,input 
    box-sizing: border-box
    font-family: unquote('微软雅黑, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif')
    
ul, ol ,li
    list-style: none
a:hover,a:active,a:visited,a:focus
    text-decoration: none
a 
    text-decoration: none
    background: none 
    cursor: pointer

body
    background-color: #dae7e8

/* 设置滚动条的样式 */
::-webkit-scrollbar 
    width: 12px
    height: 12px
    background-color: #eaecef

/* 滚动槽 */
::-webkit-scrollbar-track 
    border-radius:10px

/* 滚动条滑块 */
::-webkit-scrollbar-thumb 
    background:#8aabad    

::selection
    background:#ffca28
    color:white

​​​​​​​::-moz-selection
    background:#ffca28
    color:white


